.product-form-container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto 20px;
  color: #333;
  font-family: "Arial", sans-serif;
}

.product-form-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
textarea,
button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  transition: border-color 0.2s;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid #b52ce6;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button[type="submit"] {
  background-color: #b52ce6;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #5795e6;
}

/* Mensajes de éxito o error */
.product-form-container p {
  text-align: center;
  font-weight: bold;
}
.product-form-container.animated {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.product-form-container.animated.open {
  max-height: 1000px; /* Suficiente para el formulario completo */
  opacity: 1;
  overflow: visible;
}

/* Ocultar el input de archivo original */
.image-input-file {
  display: none;
}

/* Botón personalizado */
.image-input-file + label {
  background-color: #b52ce6;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  transition: background 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600; /* o 700 para más negrita */
}

.image-input-file + label:hover {
  background-color: #5795e6;
}
