.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px !important;
}

.carta {
  width: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.fondoCarta {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: #e3e3e3;
  margin-top: 50px;
}

.fotoPerfil {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -130px; /* Para que se superponga con el fondo */
  margin-left: 25px;
  object-fit: cover;
}

.carta p {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin: 10px 0;
}

.carta p:nth-child(3) {
  font-weight: bold;
  font-size: 30px;
}

.carta p:nth-child(4) {
  font-size: 15px;
  color: #777;
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #e3e3e3;
  padding: 10px 0;
}

.info div {
  font-size: 16px;
  color: #333;
  text-align: center;
  cursor: pointer;
}

.info div:hover {
  color: #0095f6;
  font-weight: bold;
}

.boton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.boton button {
  width: 90%;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  background-color: #0095f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton button:hover {
  background-color: #007bb5;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto hace que ocupe toda la altura de la pantalla */
  background-color: #f0f0f0;
}

.loading-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #007bff;
  animation: fadeIn 1.5s ease-in-out infinite;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
